 .u-section-1 {
  background-image: url('images/10db0e13-20ca-473f-ac7a-da6780565340.JPG'), linear-gradient(to bottom, rgba(71, 138, 201, 1), rgba(71, 138, 201, 1));
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  width: 576px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 129px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }
} .u-section-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --effect-scale: 0.5;
  margin-right: 0;
  margin-left: 0;
  min-height: 1687px;
  height: 1407px;
}

.u-section-2 .u-gallery-1 {
  height: 900px;
  margin-top: 18px;
  margin-bottom: 0;
  width: 100%;
  grid-gap: 17px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  --gap: 17px;
}

.u-section-2 .u-back-slide-1 {
  min-height: 1687px;
}

.u-section-2 .u-back-image-1 {
  object-position: 50% 100%;
  margin: 60px auto 0;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
  --effect-scale: 0.5;
}

.u-section-2 .u-back-image-2 {
  object-position: 50% 63.35%;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
  --effect-scale: 0.5;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
  --effect-scale: 0.5;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
  --effect-scale: 0.5;
}

.u-section-2 .u-back-image-5 {
  object-position: 50% 86.52%;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-6 {
  margin-right: 0;
  --effect-scale: 0.5;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-7 {
  margin-right: 0;
  --effect-scale: 0.5;
}

.u-section-2 .u-back-image-7 {
  object-position: 50% 51.48%;
}

.u-section-2 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-8 {
  margin-right: 0;
  --effect-scale: 0.5;
}

.u-section-2 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-9 {
  margin-right: 0;
  --effect-scale: 0.5;
}

.u-section-2 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-10 {
  margin-right: 0;
  --effect-scale: 0.5;
}

.u-section-2 .u-back-image-10 {
  object-position: 50% 71.96%;
}

.u-section-2 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-11 {
  margin-right: 0;
  --effect-scale: 0.5;
}

.u-section-2 .u-back-image-11 {
  object-position: 50% 100%;
}

.u-section-2 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-12 {
  margin-right: 0;
  --effect-scale: 0.5;
}

.u-section-2 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-13 {
  margin-right: 0;
  --effect-scale: 0.5;
}

.u-section-2 .u-back-image-13 {
  object-position: 50% 15.13%;
}

.u-section-2 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-14 {
  margin-right: 0;
  --effect-scale: 0.5;
}

.u-section-2 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-15 {
  margin-right: 0;
  --effect-scale: 0.5;
}

.u-section-2 .u-over-slide-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-16 {
  height: 1407px;
  margin-right: 0;
  margin-left: 0;
  --effect-scale: 0.5;
}

.u-section-2 .u-back-image-16 {
  object-position: 51.47% 100%;
}

.u-section-2 .u-over-slide-16 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-17 {
  height: 1407px;
  margin-left: 0;
  margin-right: 0;
  --effect-scale: 0.5;
}

.u-section-2 .u-back-image-17 {
  object-position: 50% 100%;
}

.u-section-2 .u-over-slide-17 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-18 {
  height: 1407px;
  margin-left: 0;
  margin-right: 0;
  --effect-scale: 0.5;
}

.u-section-2 .u-over-slide-18 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-19 {
  height: 1407px;
  margin-left: 0;
  margin-right: 0;
  --effect-scale: 0.5;
}

.u-section-2 .u-over-slide-19 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-20 {
  height: 1407px;
  margin-left: 0;
  margin-right: 0;
  --effect-scale: 0.5;
}

.u-section-2 .u-back-image-20 {
  object-position: 50% 100%;
}

.u-section-2 .u-over-slide-20 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-21 {
  height: 1407px;
  margin-left: 0;
  margin-right: 0;
  --effect-scale: 0.5;
}

.u-section-2 .u-over-slide-21 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-22 {
  height: 1407px;
  margin-left: 0;
  margin-right: 0;
  --effect-scale: 0.5;
}

.u-section-2 .u-over-slide-22 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-23 {
  height: 1407px;
  margin-left: 0;
  margin-right: 0;
  --effect-scale: 0.5;
}

.u-section-2 .u-over-slide-23 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-24 {
  height: 1407px;
  margin-left: 0;
  margin-right: 0;
  --effect-scale: 0.5;
}

.u-section-2 .u-back-image-24 {
  object-position: 50% 100%;
}

.u-section-2 .u-over-slide-24 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-25 {
  height: 1407px;
  margin-left: 0;
  margin-right: 0;
  --effect-scale: 0.5;
}

.u-section-2 .u-back-image-25 {
  object-position: 50% 100%;
}

.u-section-2 .u-over-slide-25 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: -10px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 10px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-style: italic;
  margin: 18px auto 0;
}

.u-section-2 .u-countdown-1 {
  margin: 19px auto 45px;
}

.u-section-2 .u-countdown-counter-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-2 .u-countdown-separator-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-counter-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-2 .u-countdown-separator-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-counter-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-2 .u-countdown-separator-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-counter-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-2 .u-countdown-separator-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-counter-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-2 .u-countdown-separator-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-counter-6 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-2 .u-gallery-1 {
    width: auto;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-gap: 17px;
  }

  .u-section-2 .u-back-image-1 {
    margin: initial;
  }

  .u-section-2 .u-over-slide-1 {
    min-height: 100px;
  }

  .u-section-2 .u-carousel-item-2 {
    margin-right: initial;
  }

  .u-section-2 .u-over-slide-2 {
    min-height: 100px;
  }

  .u-section-2 .u-carousel-item-3 {
    margin-right: initial;
  }

  .u-section-2 .u-over-slide-3 {
    min-height: 100px;
  }

  .u-section-2 .u-carousel-item-4 {
    margin-right: initial;
  }

  .u-section-2 .u-over-slide-4 {
    min-height: 100px;
  }

  .u-section-2 .u-carousel-item-5 {
    margin-right: initial;
  }

  .u-section-2 .u-over-slide-5 {
    min-height: 100px;
  }

  .u-section-2 .u-carousel-item-6 {
    margin-right: initial;
  }

  .u-section-2 .u-over-slide-6 {
    min-height: 100px;
  }

  .u-section-2 .u-carousel-item-7 {
    margin-right: initial;
  }

  .u-section-2 .u-over-slide-7 {
    min-height: 100px;
  }

  .u-section-2 .u-carousel-item-8 {
    margin-right: initial;
  }

  .u-section-2 .u-over-slide-8 {
    min-height: 100px;
  }

  .u-section-2 .u-carousel-item-9 {
    margin-right: initial;
  }

  .u-section-2 .u-over-slide-9 {
    min-height: 100px;
  }

  .u-section-2 .u-carousel-item-10 {
    margin-right: initial;
  }

  .u-section-2 .u-over-slide-10 {
    min-height: 100px;
  }

  .u-section-2 .u-carousel-item-11 {
    margin-right: initial;
  }

  .u-section-2 .u-over-slide-11 {
    min-height: 100px;
  }

  .u-section-2 .u-carousel-item-12 {
    margin-right: initial;
  }

  .u-section-2 .u-over-slide-12 {
    min-height: 100px;
  }

  .u-section-2 .u-carousel-item-13 {
    margin-right: initial;
  }

  .u-section-2 .u-over-slide-13 {
    min-height: 100px;
  }

  .u-section-2 .u-carousel-item-14 {
    margin-right: initial;
  }

  .u-section-2 .u-over-slide-14 {
    min-height: 100px;
  }

  .u-section-2 .u-carousel-item-15 {
    margin-right: initial;
  }

  .u-section-2 .u-over-slide-15 {
    min-height: 100px;
  }

  .u-section-2 .u-carousel-item-16 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-over-slide-16 {
    min-height: 100px;
  }

  .u-section-2 .u-carousel-item-17 {
    margin-left: initial;
    margin-right: initial;
  }

  .u-section-2 .u-over-slide-17 {
    min-height: 100px;
  }

  .u-section-2 .u-carousel-item-18 {
    margin-left: initial;
    margin-right: initial;
  }

  .u-section-2 .u-over-slide-18 {
    min-height: 100px;
  }

  .u-section-2 .u-carousel-item-19 {
    margin-left: initial;
    margin-right: initial;
  }

  .u-section-2 .u-over-slide-19 {
    min-height: 100px;
  }

  .u-section-2 .u-carousel-item-20 {
    margin-left: initial;
    margin-right: initial;
  }

  .u-section-2 .u-over-slide-20 {
    min-height: 100px;
  }

  .u-section-2 .u-carousel-item-21 {
    margin-left: initial;
    margin-right: initial;
  }

  .u-section-2 .u-over-slide-21 {
    min-height: 100px;
  }

  .u-section-2 .u-carousel-item-22 {
    margin-left: initial;
    margin-right: initial;
  }

  .u-section-2 .u-over-slide-22 {
    min-height: 100px;
  }

  .u-section-2 .u-carousel-item-23 {
    margin-left: initial;
    margin-right: initial;
  }

  .u-section-2 .u-over-slide-23 {
    min-height: 100px;
  }

  .u-section-2 .u-carousel-item-24 {
    margin-left: initial;
    margin-right: initial;
  }

  .u-section-2 .u-over-slide-24 {
    min-height: 100px;
  }

  .u-section-2 .u-carousel-item-25 {
    margin-left: initial;
    margin-right: initial;
  }

  .u-section-2 .u-over-slide-25 {
    min-height: 100px;
  }

  .u-section-2 .u-carousel-control-1 {
    left: 0;
  }

  .u-section-2 .u-carousel-control-2 {
    right: 8px;
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2)  + 253px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-2 .u-carousel-control-2 {
    right: 6px;
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2)  + 94px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-2 .u-carousel-control-2 {
    right: 5px;
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2)  + 44px);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-carousel-control-2 {
    right: 3px;
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2)  + -22px);
  }
}